@use './variables';
@use './card';
@use './stars';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;

  font-family: Roboto, sans-serif;

  background-color: #f3f3f3;
}
